name: Lint

on:
  push:
    branches: [master]
  pull_request:

jobs:
  luacheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install luacheck
        run: |
          sudo apt-get update
          sudo apt-get install -y luarocks
          luarocks install luacheck

      - name: Run luacheck
        run: ~/.luarocks/bin/luacheck .
